name: CI
on:
  pull_request:
  push:
    tags:
      - "*"
    branches:
      - main
  workflow_dispatch:
    inputs:
      publish-to-private-pypi:
        description: Whether to publish the build to the private PyPI
        type: choice
        options:
          - 'true'
          - 'false'
        default: 'false'

permissions:
  contents: read

env:
  MAIN_PYTHON_VERSION: '3.12'
  DOCUMENTATION_CNAME: 'recordlists.grantami.docs.pyansys.com'
  LIBRARY_NAME: 'ansys-grantami-recordlists'
  LIBRARY_NAMESPACE: 'ansys.grantami.recordlists'
  PIP_INDEX_URL: "https://${{ secrets.PYANSYS_PYPI_PRIVATE_PAT }}@pkgs.dev.azure.com/pyansys/_packaging/pyansys/pypi/simple/"
  UV_INDEX_URL: "https://${{ secrets.PYANSYS_PYPI_PRIVATE_PAT }}@pkgs.dev.azure.com/pyansys/_packaging/pyansys/pypi/simple/"
  UV_INDEX_PRIVATE_PYPI_USERNAME: "PAT"
  UV_INDEX_PRIVATE_PYPI_PASSWORD: ${{ secrets.PYANSYS_PYPI_PRIVATE_PAT }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  check-vulnerabilities:
    name: "Check library vulnerabilities"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/check-vulnerabilities@36cd86710c966963f4dcec56a9670171618cf76a  # v10.2.4
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          python-package-name: ${{ env.LIBRARY_NAME }}
          dev-mode: ${{ github.ref != 'refs/heads/main' }}
          use-uv: true
          bandit-configfile: pyproject.toml

  actions-security:
    name: "Check actions security"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/check-actions-security@36cd86710c966963f4dcec56a9670171618cf76a # v10.2.4
        with:
          generate-summary: true
          token: ${{ secrets.GITHUB_TOKEN }}
          auditing-level: 'high'
          trust-ansys-actions: true

  code-style:
    name: "Code style"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/code-style@36cd86710c966963f4dcec56a9670171618cf76a  # v10.2.4
        with:
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          skip-install: false

      - name: Type check library
        run:
          uv run --frozen mypy ./src

  doc-style:
    name: "Documentation style"
    runs-on: ubuntu-latest
    steps:
      - uses: ansys/actions/doc-style@36cd86710c966963f4dcec56a9670171618cf76a  # v10.2.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  doc-build:
    name: Documentation Build (mock examples)
    runs-on: ubuntu-latest
    steps:
    - name: "Run Ansys documentation building action"
      uses: ansys/actions/doc-build@36cd86710c966963f4dcec56a9670171618cf76a  # v10.2.4
      with:
        check-links: false
        dependencies: "pandoc"
        sphinxopts: "-n -W --keep-going"
        optional-dependencies-name: ""
        group-dependencies-name: "doc"

    - name: "Delete unneeded doc artifact"
      if: ${{ !startsWith( github.event.pull_request.head.ref, 'dependabot/') }}
      uses: geekyeggo/delete-artifact@f275313e70c08f6120db482d7a6b98377786765b # v5.1.0
      with:
        name: |
          documentation-html
          documentation-pdf

  build-wheelhouse:
    name: "Build wheelhouse for latest Python versions"
    runs-on: ${{ matrix.os }}
    needs: code-style
    permissions:
      id-token: write  # Required for SigStore
      attestations: write  # Required to generate attestation
    strategy:
       matrix:
           os: [ubuntu-latest, windows-latest]
           python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: ansys/actions/build-wheelhouse@36cd86710c966963f4dcec56a9670171618cf76a  # v10.2.4
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          operating-system: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}
          attest-provenance: true

  tests:
    name: "Tests Python ${{ matrix.python-version }}, ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    needs: build-wheelhouse
    strategy:
      matrix:
       os: [ubuntu-latest, windows-latest]
       python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
      fail-fast: false
    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b  # zizmor: ignore[cache-poisoning] - This job does not produce artifacts used by release
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Test with pytest and coverage"
        run: uv run --frozen pytest ./tests -m "not integration"

      - name: "Upload coverage artifacts"
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        if: ${{ matrix.python-version == env.MAIN_PYTHON_VERSION && matrix.os == 'ubuntu-latest' && !startsWith( github.event.pull_request.head.ref, 'dependabot/') }}
        with:
          name: coverage-html-unittests
          path: .cov/html
          retention-days: 7

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
        if: ${{ matrix.python-version == env.MAIN_PYTHON_VERSION && matrix.os == 'ubuntu-latest' && !startsWith( github.event.pull_request.head.ref, 'dependabot/') }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: .cov/xml
          flags: unittests
          fail_ci_if_error: true

  build-library:
    name: "Build library"
    runs-on: ubuntu-latest
    needs: [ doc-build, tests ]
    permissions:
      id-token: write  # Required for Sigstore
      attestations: write  # Required to generate attestation
    steps:
      - uses: ansys/actions/build-library@36cd86710c966963f4dcec56a9670171618cf76a  # v10.2.4
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          python-version: ${{ env.MAIN_PYTHON_VERSION }}
          attest-provenance: true

  server-checks:
    name: "Server checks"
    needs: [tests]
    if: ${{ !startsWith( github.event.pull_request.head.ref, 'dependabot/') }}
    uses: ./.github/workflows/server_checks.yml
    with:
      skip-vm-management: ${{ vars.SKIP_VM_MANAGEMENT == 'true' }}
    secrets:
      AZURE_APP_ID: ${{ secrets.AZURE_APP_ID }}
      AZURE_SECRET: ${{ secrets.AZURE_SECRET }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_RESOURCE_GROUP: ${{ secrets.AZURE_RESOURCE_GROUP }}
      AZURE_VM_NAME_DEV: ${{ secrets.AZURE_VM_NAME_DEV }}
      AZURE_VM_NAME_26R1: ${{ secrets.AZURE_VM_NAME_26R1 }}
      AZURE_VM_NAME_25R2: ${{ secrets.AZURE_VM_NAME_25R2 }}
      AZURE_VM_NAME_25R1: ${{ secrets.AZURE_VM_NAME_25R1 }}
      AZURE_VM_NAME_24R2: ${{ secrets.AZURE_VM_NAME_24R2 }}
      AZURE_VM_NAME_24R1: ${{ secrets.AZURE_VM_NAME_24R1 }}
      TEST_SERVER_DEV_URL: ${{ secrets.TEST_SERVER_DEV_URL }}
      TEST_SERVER_26R1_URL: ${{ secrets.TEST_SERVER_26R1_URL }}
      TEST_SERVER_25R2_URL: ${{ secrets.TEST_SERVER_25R2_URL }}
      TEST_SERVER_25R1_URL: ${{ secrets.TEST_SERVER_25R1_URL }}
      TEST_SERVER_24R2_URL: ${{ secrets.TEST_SERVER_24R2_URL }}
      TEST_SERVER_24R1_URL: ${{ secrets.TEST_SERVER_24R1_URL }}
      TEST_SERVER_ADMIN_USER: ${{ secrets.TEST_SERVER_ADMIN_USER }}
      TEST_SERVER_ADMIN_PASS: ${{ secrets.TEST_SERVER_ADMIN_PASS }}
      TEST_SERVER_USER: ${{ secrets.TEST_SERVER_USER }}
      TEST_SERVER_PASS: ${{ secrets.TEST_SERVER_PASS }}
      PYANSYS_PYPI_PRIVATE_PAT: ${{ secrets.PYANSYS_PYPI_PRIVATE_PAT }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  integration-checks-complete:
    name: "Integration checks complete"
    runs-on: ubuntu-latest
    if: always() && ( startsWith( github.event.pull_request.head.ref, 'dependabot/') || needs.server-checks.result == 'success' )
    needs: server-checks
    steps:
      - name: "Integration checks complete"
        run: echo "Integration checks complete"

  doc-deploy-dev:
    name: "Deploy development documentation"
    runs-on: ubuntu-latest
    needs: [server-checks]
    if: github.event_name == 'push' && !contains(github.ref, 'refs/tags')
    permissions:
      contents: write  # to allow the Action to push to the gh-pages branch
    steps:
      - uses: ansys/actions/doc-deploy-dev@36cd86710c966963f4dcec56a9670171618cf76a  # v10.2.4
        with:
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          doc-artifact-name: documentation-html
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

  release-private-pypi:
    name: "Publish dev build to private PyPI"
    runs-on: ubuntu-latest
    needs: [ server-checks ]
    if: (github.event_name == 'workflow_dispatch') && (github.ref == 'refs/heads/main') && (inputs.publish-to-private-pypi == 'true')
    steps:
      - name: "Release to private PyPI"
        uses: ansys/actions/release-pypi-private@36cd86710c966963f4dcec56a9670171618cf76a  # v10.2.4
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          twine-username: "__token__"
          twine-token: ${{ secrets.PYANSYS_PYPI_PRIVATE_PAT }}

  update-changelog:
    name: "Update CHANGELOG for new tag"
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    permissions:
      contents: write  # to allow the Action to push to the repo
      pull-requests: write   # to allow the Action to create a PR if needed
    steps:
      - uses: ansys/actions/doc-deploy-changelog@36cd86710c966963f4dcec56a9670171618cf76a  # v10.2.4
        with:
          token: ${{ secrets.PYANSYS_CI_BOT_TOKEN }}
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}

  release:
    name: "Release"
    runs-on: ubuntu-latest
    needs: [build-library, server-checks, update-changelog]
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    environment: release
    permissions:
      id-token: write  # Required for trusted publisher auth to PyPI
      contents: write  # To allow the Action to upload a release asset
    steps:
      - name: "Download the library artifacts from build-library step"
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131  # v7.0.0
        with:
          name: ${{ env.LIBRARY_NAME }}-artifacts
          path: ${{ env.LIBRARY_NAME }}-artifacts

      - name: "Upload artifacts to PyPI using trusted publisher"
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e  # v1.13.0
        with:
          repository-url: "https://upload.pypi.org/legacy/"
          print-hash: true
          packages-dir: ${{ env.LIBRARY_NAME }}-artifacts
          skip-existing: false

      - uses: ansys/actions/release-github@36cd86710c966963f4dcec56a9670171618cf76a  # v10.2.4
        name: "Release to GitHub"
        with:
          library-name: ${{ env.LIBRARY_NAME }}
          token: ${{ secrets.GITHUB_TOKEN }}

  doc-deploy-stable:
    name: "Deploy stable documentation"
    runs-on: ubuntu-latest
    needs: release
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags')
    permissions:
      contents: write  # To allow the Action to push to the gh-pages branch
    steps:
      - uses: ansys/actions/doc-deploy-stable@36cd86710c966963f4dcec56a9670171618cf76a  # v10.2.4
        with:
          cname: ${{ env.DOCUMENTATION_CNAME }}
          token: ${{ secrets.GITHUB_TOKEN }}
          doc-artifact-name: documentation-html
          bot-user: ${{ secrets.PYANSYS_CI_BOT_USERNAME }}
          bot-email: ${{ secrets.PYANSYS_CI_BOT_EMAIL }}
